<p id="notice"><%= notice %></p>

<div class="container">
<h1><span class="glyphicon glyphicon-globe"></span> Your Headlines:</h1>

<div class="site-wrapper">
  <div class="container"
    <div class="row">
      <% @t.each do |x| %>
        <div class="col-md-6">
          <div class="well">
            <%= link_to x.user.username, profile_path(x.user) %>
            <%= x.message %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'New Tweet', new_tweet_path %>
  </div>
</div>
</div>

<br>

